<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.0" />
    <httpModules>
      <!-- Comment out this section if hosting in IIS 7.5 or IIS Express -->
      <add name="WorkflowServiceTrackingViewer"
           type="PeteGoo.WorkflowServiceTrackingViewer.TrackingViewerHttpModule, WorkflowServiceTrackingViewer" />

    </httpModules>
  </system.web>
  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <!-- To avoid disclosing metadata information, set the value below to false and remove the metadata endpoint above before deployment -->
          <serviceMetadata httpGetEnabled="true"/>
          <!-- To receive exception details in faults for debugging purposes, set the value below to true.  Set to false before deployment to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="false"/>
          <!-- Register the tracking participany behavior for the Workflow Service Tracking Viewer -->
          <trackingViewerTrackingParticipant profileName="Troubleshooting Profile" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <extensions>
      <behaviorExtensions>
        <add name="trackingViewerTrackingParticipant"
             type="PeteGoo.WorkflowServiceTrackingViewer.TrackingViewerExtensionElement, WorkflowServiceTrackingViewer" />
      </behaviorExtensions>
    </extensions>
    <serviceHostingEnvironment multipleSiteBindingsEnabled="true" />
    <tracking>
      <profiles>
        <trackingProfile name="Troubleshooting Profile">
          <workflow activityDefinitionId="*">
            <workflowInstanceQueries>
              <workflowInstanceQuery>
                <states>
                  <state name="*" />
                </states>
              </workflowInstanceQuery>
            </workflowInstanceQueries>
            <activityStateQueries>
              <activityStateQuery activityName="*">
                <states>
                  <state name="*" />
                </states>
                <variables>
                  <variable name="*" />
                </variables>
              </activityStateQuery>
            </activityStateQueries>
            <activityScheduledQueries>
              <activityScheduledQuery activityName="*"
                                      childActivityName="*" />
            </activityScheduledQueries>
            <faultPropagationQueries>
              <faultPropagationQuery faultSourceActivityName="*"
                                     faultHandlerActivityName="*" />
            </faultPropagationQueries>
            <customTrackingQueries>
              <customTrackingQuery name="*"
                                   activityName="*" />
            </customTrackingQueries>
          </workflow>
        </trackingProfile>
        <trackingProfile name="Instance_And_Custom_Records">
          <workflow activityDefinitionId="*">
            <workflowInstanceQueries>
              <workflowInstanceQuery>
                <states>
                  <state name="*" />
                </states>
              </workflowInstanceQuery>
            </workflowInstanceQueries>
            <customTrackingQueries>
              <customTrackingQuery name="*"
                                   activityName="*" />
            </customTrackingQueries>
          </workflow>
        </trackingProfile>
      </profiles>
    </tracking>
  </system.serviceModel>
  <system.webServer>
    <!-- This section is used if we are running in IIS 7.5 or IIS Express-->
    <modules runAllManagedModulesForAllRequests="true">
        <add name="WorkflowServiceTrackingViewer"
             type="PeteGoo.WorkflowServiceTrackingViewer.TrackingViewerHttpModule, WorkflowServiceTrackingViewer" />
    </modules>


  </system.webServer>
</configuration>
